h1, h2 {
    margin: 0;
    padding: 5px;
    font-weight: bold;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    margin: 1em;
    font-size: 1.3em;
    font-weight: bold;
}

p {
    font-size: 1.3em;
}

body {
    font-family: Garamond;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: #fbfbec;
}
  
header {
    padding: 15px;
    margin-bottom: 3px;
    background: #fdb939;
    color: #fff;
    display: inline;
    border: thick double #fff;
    display: flex;
}

@media screen and (max-width: 700px) {
    header {
        display: inline-block;
    }
}

navi {
    display: flex;
    justify-content: flex-end;
    background-color: #5b8efd;
    border: thick double #fff;
    line-height: 3em;
}

navi a {
    font-weight: bold;
    font-size: 1.1em;
    color: #fff;
    padding-right: 1em;
    text-decoration: none;
    text-align: center;
    line-height: auto;
}

main {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

section {
    display: flex;
}

card {
    border-radius: 10px;
    background-image: url("https://via.placeholder.com/300x200");
    background-repeat: no-repeat;
    background-size: contain;
    padding: 5px;
    margin: 1em 0 1em 1em;
    float: left;
    height: 200px;
    width: 300px;
    border: thick double black;
}

card h2 {
    background: rgba(255, 255, 255, .9);
    border-radius: 10px;
    text-align: center;
    margin-bottom: 45%;
}

card a {
    background: rgba(0, 81, 255, 0.5);
    border-radius: 10px;
    padding: .5em;
    font-weight: bold;
    margin-right: .5em;
    color: #fff;
}

card a:hover {
    background-color: rgb(0, 81, 255);
}

card a:active {
    background-color: white;
    color: blue;
}

.card {
    background-color: rgb(252, 213, 161);
    border: thick solid white;
    margin-left: 1em;
}

.card a {
    color: black;
}

.link {
    padding: 0 0.3em;
    vertical-align: bottom;
    align-self: flex-end;
}

#about {
    display: flex;
    flex-direction: row;
}

#photo {
    margin-right: 1em;
    margin-bottom: 1em;
    float: left;
    height: 200px;
    width: 200px;
}

#pageTitle {
    flex: 100%;
    text-align: center;
    padding-left: 120px;
}

#linkedIn, #gitHub {
    display: inline-block;
}

#icons {
    display: flex;
}

@media screen and (max-width: 700px) {
    #pageTitle {
        width: 100%;
        padding-left: 0;
        margin-bottom: 1em;
    }
    #icons {
        float: right; 
    }
}

#profile {
    border-radius: 10px;
    margin-left: 1em;
    background-color: #fff;
}

#profile p {
    max-width: 900px;
    padding: 1em;
    line-height: 1.5em;
}

#download {
    margin-left: 1em;
}

#resume a:hover {
    background-color: blue !important;
}